* {
  box-sizing: border-box;
}

.App {
  background-color: #e6e6e6;
  height: 100vh;
  display: grid;
  place-items: center;
}

body {
  margin: 0;
}

.container {
  background-color: #FFFFFF;
  padding: 7px;
}

.monitor {
  background-color: #F6F6F6;
  text-align: right;
  height: 94px;
}

.input-data {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
}

.input-button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
  margin-top: 7px;
}

.result {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

.numbers,
.symbols {
  width: 80px;
  height: 100px;
  border: none;
  padding: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
}

.numbers {
  background-color: #E8E8E8;
  color: #313030;
}
.symbols{
  background-color:#C5C5C5;
  color: #A70909;
}
.red{
  color: #28800A;
}
.numbers:hover{
  background-color: #d0d0d0;
} .symbols:hover{
  background-color: #a2a2a2;
}